<div class="footer">
    <ul class="menu">
        <li><a href="/">Home</a>
        <li><a href="/about.html">About</a></li>
        <li><a href= "mailto:amy.hilaire@gmail.com">Contact</a></li>
        <li><a href="/privacy-policy.html">Privacy Policy</a></li>
    </ul>
    
    <font size='3'>
    <p><strong>Disclaimer:</strong> the ideas presented on this blog are not 
    clinical advice, and are opinions shared for informational purposes only. 
    Anyone in need of therapeutic equipment or advice should seek
    a local occupational therapist, physiotherapist, or other relevant health professional, who will take 
    into account their unique circumstances.</p>
    </font>
    
    <p>&copy; 2015-2018 Amy Hilaire</p>
</div>