<div class="sidebar-container"> 
    <div class="sidebar">
        <p class="caption">Hi, I'm Amy. I've made this blog to share my experiences as an Occupational Therapist. 
        I hope you learn something new here about therapeutic equipment, assessment tools, and issues affecting 
        our profession.</p>
       
        <div>
            <a class=button style="color:white" href=https://goo.gl/forms/fuxoMHsPGXwsDz7F2>Get Email Updates*</a>
        </div>
        
        <p class="caption">*No spam, I promise.</p>
        
        <h2>Follow:</h2>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55f263ada4257d41"></script>
        <div class="addthis_horizontal_follow_toolbox"></div>
        
        <h2><a href="/about.html">More: About</a></h2>
        
        <div class="recentposts">
            <h2>Recent Posts:</h2>
            <% page_articles.each_with_index do |article, i| %>
            <p><%= link_to article.title, article %> </p>
            <% end %>
        </div>
    </div>  
</div>
