<div class="sidebar">

    <h2>Welcome to OT Equip</h2>
    <p class="caption">Hi, I'm Amy. I've been an occupational therapist for over 5 years.
    Recently, I started learning to code, so I've made this site from scratch to 
    share my experiences with therapeutic equipment and tools, while learning some new skills. I hope you
    learn something new here.</p>
    
    <h2>Follow:</h2>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55f263ada4257d41"></script>
    <div class="addthis_horizontal_follow_toolbox"></div>
    
    <div class="recentposts">
        <h2>Recent Posts:</h2>
        <% page_articles.each_with_index do |article, i| %>
        <p><%= link_to article.title, article %> </p>
        <% end %>
    </div>

</div>
