/* line 4, /home/ubuntu/workspace/otequip-info/source/stylesheets/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /home/ubuntu/workspace/otequip-info/source/stylesheets/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 4, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.header {
  background-color: #353c5f;
  background-image: url("/images/metal-plate-header3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  padding-top: 0;
  padding-bottom: 40px;
  min-height: 300px; }

/* line 15, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.header h1 {
  font-family: "Bree Serif",Georgia,serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 100px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-shadow: 2px 2px 15px #24288C;
  margin: auto; }

/* line 26, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.header h2 {
  font-family: "Dancing Script","Zapfino","Monotype Corsiva",cursive;
  /*  color: #F5F6FE;*/
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 15px #24288C;
  width: 60%;
  margin: auto; }

/* line 37, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.header h3 {
  font-family: "Bree Serif",Georgia,serif;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 40px;
  text-shadow: 2px 2px 15px #25288e;
  margin: auto; }

/* line 48, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.slim {
  background-image: url("/images/metal-plate-header3.jpg");
  margin: auto;
  padding-bottom: 0;
  min-height: 0; }

/* line 55, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.slim h1 {
  padding-top: 30px;
  padding-bottom: 15px; }

/* line 60, /home/ubuntu/workspace/otequip-info/source/stylesheets/headers.scss */
.menu li {
  list-style-type: none;
  list-style-image: none;
  display: inline;
  padding-right: 3em;
  /*  padding-left: 3em;*/
  text-align: center;
  text-decoration: none; }
