---
layout: layout
title: About OT Equip
---

<div class="header slim">
  <link rel="stylesheet" href="/stylesheets/headers.css">
  <a href="/">
    <h1>OT Equipment Info</h1>
    <!-- <h3>Equipping Occupational Therapists with independent product reviews</h3> -->
  </a>
</div>

<div class="article">
  <h1>Welcome to OT Equipment Info</h1>

  <p><em>A place for sharing ideas and experiences with equipment.</em></p>

<p>If you were to look at a day in the life of an occupational therapist (OT), 
there's a good chance you'd come across specialised assistive equipment somewhere. 
OTs help people overcome obstacles such as illness, injury or disability to 
achieve a lifestlye that is meaningful to them. We do this by either <em>remediating</em> 
the problem, that is, helping the person recover, or <em>compensating</em> for the problem,
by finding a way to work around it. We love presribing equipment because [when done well]
it provides a way for people to do things independently, or with less assistance 
than they would otherwise need.</p>

<p>Some benefits of using assistive equipment include:</p>

<ul>
  <li>Enabling someone to do something they otherwise wouldn't be able to,</li>
  <li>Reducing the need for assistance, thereby preserving dignity and enhancing
self-efficacy,</li>
  <li>Improving safety and decreasing risk of injury to the person and others.</li>
</ul>

<p>Choosing the right equipment can be a tedious task. OTs often have specific
measurements or features in mind that would promote the best possible outcome. 
The aim of <strong>OT Equipment Info</strong> is to make it easy for OTs to find 
equipment information; saving time and improving outcomes.</p>

<p>Please note that this information is <strong>not clinical advice</strong>. Anyone 
in need of specialiased equipment should seek personalised advice from a local OT,
physiotherapist, or other relevant health professional, that takes into account 
their unique circumstances. </p>

<br>
<hr>

</div>