---
layout: layout
title: About OT Equip
---

<div class="header slim">
  <link rel="stylesheet" href="/stylesheets/headers.css">
  <a href="/">
    <h1>OT Equipment Info</h1>
    <!-- <h3>Equipping Occupational Therapists with independent product reviews</h3> -->
  </a>
   <h3 class="menu"><li>
        <a href="/">Home</a>
      </li>
</div>

<div class="article">
  <h1>Welcome to OT Equipment Info</h1>

  <p><em>A place for sharing ideas and experiences with equipment.</em></p>

<p>If you were to look at a day in the life of an occupational therapist (OT), 
there's a good chance you'd come across specialised assistive equipment somewhere. 
OTs help people overcome obstacles such as illness, injury or disability to 
achieve a lifestlye that is meaningful to them. We do this by either <em>remediating</em> 
the problem, that is, helping the person recover, or <em>compensating</em> for the problem,
by finding a way to work around it. We love presribing equipment because [when done well]
it provides a way for people to do things independently, or with less assistance 
than they would otherwise need.</p>

<p>Some benefits of using assistive equipment include:</p>

<ul>
  <li>Enabling someone to do something they otherwise wouldn't be able to,</li>
  <li>Reducing the need for assistance, thereby preserving dignity and enhancing
self-efficacy,</li>
  <li>Improving safety and decreasing risk of injury to the person and others.</li>
</ul>

<p>Choosing the right equipment can be a tedious task. OTs often have specific
measurements or features in mind that would promote the best possible outcome. 
Please note that this information is <strong>not clinical advice</strong>. Anyone 
in need of specialiased equipment should seek personalised advice from a local OT,
physiotherapist, or other relevant health professional, that takes into account 
their unique circumstances. </p>

<h1>About Amy</h1>

<img class="profile" src="images/AmyHilaire-square.jpg" alt="Amy Hilaire" height="200" width="200">

<p>Hi, I'm Amy Hilaire. I'm an occupational therapist who graduated from the 
University of Queensland in 2010, and am registered to practice in Australia.
My work experience has primarily been with children and adults with spinal disabilities.
I have worked at <a href=http://spinabifida.org/>Spina Bifida Hydrocephalus (SBH) Queensland</a> the last 3 years, and 
previously worked at <a href=https://www.spinal.com.au/>Spinal Life Australia</a>,
though I began my career in the aged care field at 
<a href=http://www.bluecare.org.au/Care-and-Support/By-Service/Allied-Health-Services.aspx>Blue Care</a>. 
I have a strong interest in assistive technology, but as a new graduate, 
I felt that finding informal, unbiased information about
equipment options was very difficult and time consuming.</p>

<p>My aims in building this website are to record my learning in an accessible place for my own benefit,
and to start developing a more open occupational therapy community, where we can share our
experiences and expertise with one another for the good of all involved. </p>

<p>I would really appreciate your feedback. Let me know if you
think I've missed the mark, or if there are other products you'd like included. 
If you like what you read, please share it. If you would like to contribute articles,
please email me: amy.hilaire at gmail.com</p>
<br>
<hr>

</div>
