---
title: About OT Equip
---

<div class="header slim">
  <link rel="stylesheet" href="/stylesheets/headers.css">
  <a href="/">
    <h1>OT Equip</h1>
    <!-- <h3>Equipping Occupational Therapists with independent product reviews</h3> -->
  </a>
  <h3 class="menu">
    <li>
      <a href="/">Home</a>
    </li>
  </h3>
</div>

<div class="container">
  <div class="main-content-area">
    <h1>Welcome to OT Equip</h1>

    <p><em>A place for sharing - from one Occupational Therapist to another.</em></p>

<p>The goals of OT Equip are to:
<li>Record my learning in an accessible place for my own benefit,</li>
<li>Learn HTML, CSS and Ruby programming languages,</li>
<li>Share what I've learnt along my OT journey with other OTs, and</li>
<li>Start developing a more open occupational therapy community, following the example of the Open Source software community.</li>
</p>

<p>I would really appreciate your feedback. Let me know if you've found the site helpful,
or if there is something you think should be included. 
If you like what you read, please share it. If you would like to contribute articles,
get in touch! Please email me: amy.hilaire at gmail.com</p>

<h1>About Occupational Therapy</h1>

<p>Occupational Therapists (OTs), help people overcome illness, injury or disability to 
achieve a meaningful lifestyle. We do this by either <em>remediating</em> 
the problem, helping the person recover, or <em>compensating</em> for the problem,
by finding a way to work around it. We love prescribing equipment because (when done well)
it allows people to be more independent.</p>

<p>Benefits of assistive equipment include:</p>

<ul>
  <li>Enabling someone to do something they otherwise wouldn't be able to,</li>
  <li>Reducing the need for assistance, thereby preserving dignity and enhancing self-efficacy, and</li>
  <li>Improving safety and decreasing risk of injury to the person and others.</li>
</ul>

<p>Choosing the right equipment can be a tedious task. OTs often have specific
measurements or features in mind to promote the best outcome. The equipment information
on OT Equip is meant to help OTs find what they're looking for.

Please note that this information is <strong>not clinical advice</strong>. Anyone 
in need of specialised equipment should seek personalised advice from a local OT,
physiotherapist, or other relevant health professional, that takes into account 
their unique circumstances. </p>

<h1>About Amy</h1>

<img class="profile" src="images/AmyHilaire-square.jpg" alt="Amy Hilaire" height="200" width="200">

<p>Hi, I'm Amy Hilaire. I'm an occupational therapist who graduated from the 
University of Queensland in 2010, and am registered to practice in Australia and the United Kingdom.
My work experience has primarily been with children and adults with physical disabilities.
I worked at <a href=http://spinabifida.org/>Spina Bifida Hydrocephalus (SBH) Queensland</a> for nearly 4 years. 
I previously worked at <a href=https://www.spinal.com.au/>Spinal Life Australia</a>.
I began my OT career in the aged care field at 
<a href=http://www.bluecare.org.au/Care-and-Support/By-Service/Allied-Health-Services.aspx>Blue Care</a>. 
</p>

  </div>

  <%= partial "layouts/sidebar" %>
</div>
