---
title: OT Equipment Info
---

<div class="header">
  
  <link href='//fonts.googleapis.com/css?family=Dancing+Script:700|Bree+Serif' rel='stylesheet' type='text/css'>
  <h1>OT Equipment Info</h1>
  <h2>Equipping Occupational Therapists with independent product reviews</h2>
</div>

<div>
  <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
  <h1>Hello World!</h1>
  <p>Coming soon... Equipment commonly precribed by occupational therapists reviewed by OTs in the field.</p>
</div>
