---
title: Make a Booking
---

<div class="header">
  <a href="/">
    <h1>OT Equip</h1>
  </a>
  <h2>The tools for getting on with Life</h2>
  <h3 class="menu">
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/private-practice.html">Make a Booking</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href= "mailto:amy.hilaire@gmail.com">Contact</a></li>
    </ul>
  </h3>
</div>

<div class="container">
  <div class="main-content-area">
    <h1>Do you need an Occupational Therapist?</h1>
    <p>Contact me to make a booking: <a href= "mailto:amy.hilaire@gmail.com">amy.hilaire@gmail.com</a>
    </br>(Please don't email sensitive information as the email servers are not secure.)</p>
    
    <h1>How can Occupational Therapy help?</h1>
    <p>
      <ul>
        <li>Assessments and advice for disability equipment you intend to purchase 
        can prevent wasting money on expensive equipment that is never used. 
        Equipment might include wheelchairs, specialised seating, bathroom equipment, 
        transfer aids and daily living aids.</li>
        <li>Advice for home adaptations, such as ramps and placement of grab rails, 
        can maximise safety and accessibility of your space. </li>
        <li>Reviewing routines as your needs can ensure that your needs continue 
        to be met efficiently and safely.</li>
        <li>Advice for safely getting in and out of the car, bed, wheelchair, 
        toilet etc. can save hours of frustration.</li>
        <li>The right advice at the right time helps family members care for their loved ones at home.</li>
        <li>Advice for future planning can help you get the most out of life.</li>
        <li>Prevent falls by recommending small changes to routines and the environment.</li>
      </ul>
    </p>

    <h1>How does it work?</h1>
    <p>
      <ol type="1">
        <li>Contact me to arrange a free initial video chat (up to 30 minutes) 
        to check if I can help in your situation and to discuss the best way forward.</li>
        <li>I will provide an Occupational Therapy Plan and quotation for services 
        based on what we have discussed, and an agreement for you to sign. There 
        will be an amount to pay upfront, with remainder due at the completion 
        of agreed service, or instalments can be agreed.</li>
        <li>We will work together to improve your situation, using video conferencing 
        (Skype or Facetime), email and resources/information I will send you. This 
        is an online service, also known as telerehabilitation/telehealth. In the majority of cases 
        I will not be physically present (unless you live in London).</li>
        <li>When we have achieved the goals set out in the Occupational Therapy 
        Plan, we will close the service. A brief closing report is provided.</li>
      </ol>
    </p>


    <h1>My experience</h1>
    <p>I have a wide range of experience in providing occupational therapy for children 
    and adults with physical disabilities and neurological conditions, including:
      <ul>
        <li>Spina bifida & sacral agenesis</li>
        <li>Spinal cord injury</li>
        <li>Cerebral palsy</li>
        <li>Stroke</li>
        <li>Multiple sclerosis</li>
        <li>Parkinson’s disease</li>
        <li>Motor neurone disease</li>
        <li>Frailty and dementia</li>
      </ul>
    </p>

    <h1>International clients</h1>
    <p>I am registered and insured for providing occupational therapy in the United Kingdom and Australia.
    
    I cannot provide services to clients who live in Canada or the United States. 
    
    If you live in a country other than those I have mentioned above, please contact 
    me to discuss the options. I can provide therapy in English language only.
    </p>
    
    <h1>Can Occupational Therapy really be effective when provided remotely?</h1>
    <p>Yes! The below statement is an extract from the Telehealth Position Statement, 
    published by the World Federation of Occupational Therapists, 2014:
    
    <p class="caption">The World Report on Disabilities co-produced by the World 
    Health Organisation and the World Bank affirmed the efficacy of telehealth for 
    the delivery of rehabilitation services (ie telerehabilitation) stating its 
    use “leads to similar or better clinical outcomes when compared to conventional 
    interventions” (p. 119). </p>
    
    <p>For effective occupational therapy through videoconferencing, a few things are needed:
      <ul>
        <li>Stable internet connection and technology that can support video chat</li>
        <li>A support person on the client’s side who can be the therapist’s “arms and legs”, 
        and can complete tasks such as taking measurements, manipulating objects and 
        positioning the camera.</li>
      </ul>
    </p>

  </div>
</div>
