---
title: Make a Booking
---

<div class="header slim">
  <a href="/">
    <h1>OT Equip</h1>
  </a>
  <h2>From one Occupational Therapist to another</h2>
  <h3 class="menu">
    <li>
      <a href="/">Home</a>
    </li>
  </h3>
</div>

<div class="container">
  <div class="main-content-area">
    <h1>Do you need an Occupational Therapist?</h1>
    <p>Contact me to make a booking: amy.hilaire@gmail.com</p>
    
    <h1>What services can I provide?</h1>
    <p>
    <ul>
        <li>Assessments and advice for disability equipment you intend to purchase yourself, such as wheelchairs, specialised seating, bathroom equipment, transfer aids and daily living aids.</li>
        <li>Advice for home adaptations, such as ramps and placement of grab rails</li>
        <li>Reviewing your existing equipment in light of changing needs</li>
        <li>Advice for safely getting in and out of the car, bed, wheelchair, toilet etc.</li>
        <li>Problem-solving and advice to help family members care for their loved ones at home</li>
        <li>Advice for future planning</li>
        <li>Falls prevention assessments</li>
        <li>Peer supervision and mentoring for occupational therapists working in the field of physical/neurological disability.</li>
    </ul>
    </p>

    <h1>How does it work?</h1>
    <p>
    <ol type="1">
        <li>Contact me to arrange a free initial video chat (up to 30 minutes) to check if I can help and to discuss the best way forward.</li>
        <li>I will provide an Occupational Therapy Plan and quotation for services based on what we have discussed, and a contract for you to sign. There will be an amount to pay upfront, with remainder due at the completion of agreed service, or instalments can be agreed.</li>
        <li>We will work together to improve your situation, using video conferencing (Skype or Facetime), email and resources/information I will send you. This is an online service, also known as telehealth. In the majority of cases I will not be physically present (unless you live in London).</li>
        <li>When we have achieved the goals set out in the Occupational Therapy Plan, we will close the service. A brief closing report is provided.</li>
    </ol>
    </p>


    <h1>My experience</h1>
    <p>I have a wide range of experience in providing occupational therapy for children 
    and adults with physical disabilities and neurological conditions, including:
    <ul>
        <li>Spina bifida & sacral agenesis</li>
        <li>Spinal cord injury</li>
        <li>Cerebral palsy</li>
        <li>Stroke</li>
        <li>Multiple sclerosis</li>
        <li>Parkinson’s disease</li>
        <li>Motor neurone disease</li>
        <li>Frailty and dementia</li>
    </ul>
    </p>

    <h1>International clients</h1>
    <p>I  currently meet the legal requirements for registeration, insurance and 
    continuing professional development for providing services in the United Kingdom and Australia.
    
    I cannot provide services to clients who live in Canada or USA. 
    
    If you live in a country other than those I have mentioned above, please contact 
    me to discuss the options. I can provide services in English language only.
    </p>
    
    <h1>Can Occupational Therapy really be effective when provided remotely?</h1>
    <p>Yes! The below statement is an extract from the Telehealth Position Statement, 
    published by the World Federation of Occupational Therapists, 2014:
    
    <p class="caption">The World Report on Disabilities co-produced by the World 
    Health Organisation and the World Bank affirmed the efficacy of telehealth for 
    the delivery of rehabilitation services (ie telerehabilitation) stating its 
    use “leads to similar or better clinical outcomes when compared to conventional 
    interventions” (p. 119). </p>
    
    <p>For effective occupational therapy provided online, a few things are needed:
    <ul>
        <li>Stable internet connection and technology that can support video chat</li>
        <li>A support person on the client’s side who can be the therapist’s “arms and legs”, 
        and can complete tasks such as taking measurements, manipulating objects and 
        positioning the camera.</li>
    </ul>
    </p>

  </div>

  <%= partial "layouts/sidebar" %>
</div>
