---
title: Privacy Policy
---

<div class="header slim">
  <a href="/">
    <h1>OT Equip</h1>
    <!-- <h3>Equipping Occupational Therapists with independent product reviews</h3> -->
  </a>
  <h3 class="menu">
    <li>
      <a href="/">Home</a>
    </li>
  </h3>
</div>

<div class="container">
  <div class="main-content-area">
    <h1>Privacy Policy</h1>

<h2>Collecting your information</h2>

<p>We do not share personal information with third-parties 
nor do we store information we collect about your visit to this blog for use 
other than to analyse content performance through the use of Inspectlet and 
AddThis. If you do not wish for anonymous data to be collected about your use 
of OT Equip, you can prevent this by disabling third-party javascript in your 
web browser settings before visiting the site.</p>

<h2>Email</h2>

<p>If you choose to provide your email address, we may periodically send 
you free newsletters and e-mails that directly promote the use of our site and 
services. When you receive newsletters or promotional communications from us, 
you may indicate a preference to stop receiving further communications from us. 
You will have the opportunity to “opt-out” by following the unsubscribe instructions 
provided in the email you receive. Your email address will be stored in Google 
web applications, and will be subject to Google’s privacy policy.</p>

<h2>Comments</h2>

<p>Comments on otequip.info blog posts are managed by Disqus. Any personal 
information you provide to Disqus in order to post a comment will be subject to 
their privacy policy. Your information is also provided to the otequip.info 
administrator in order for comments to be moderated.</p>

<h2>Republishing</h2>

<p>We are not responsible for the republishing of the content found 
on this blog on other web sites or media without our permission. </p>

<h2>Storage of your information</h2>

<p>You understand that your personal information 
may be stored or processed in countries (including the United States) where laws 
regarding processing personal information may be less stringent than in your country.</p>

<h2>Children</h2>

<p>We do not intentionally gather personal information about users who are under the age of 16.</p>

<p><strong>This privacy policy is subject to change without notice.</strong></p>

<p>If you have any questions about this, please <a href=mailto:amy.hilaire@gmail.com>Contact Us</a>.</p>


  </div>

  <%= partial "layouts/sidebar" %>
</div>
